<form [formGroup]="parkingSpot" (ngSubmit)="onSubmit()">
    <label for="parkingSpotNumber">Vaga: </label>
    <input type="text" id="parkingSpotNumber" formControlName="parkingSpotNumber">

    <label for="licensePlateCar">Placa: </label>
    <input type="text" name="licensePlateCar" formControlName="licensePlateCar">

    <label for="brandCar">Marca: </label>
    <input type="text" name="brandCar" formControlName="brandCar">

    <label for="modelCar">Modelo: </label>
    <input type="text" name="modelCar" formControlName="modelCar">

    <label for="">Cor: </label>
    <input type="text" name="colorCar" formControlName="colorCar">

    <label for="">Nome do Responsável</label>
    <input type="text" name="responsibleName" formControlName="responsibleName">

    <label for="apartment">Apartamento</label>
    <input type="text" name="apartment" formControlName="apartment">

    <label for="block">Bloco</label>
    <input type="text" name="block" formControlName="block">
    
    <button type="submit" [disabled]="!parkingSpot.valid">Cadastrar</button>
</form>
<hr>
<div>
    <table>
        <thead>
            <td></td>
            <td>Vaga</td>
            <td>Placa</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Cor</td>
            <td>Nome do Responsável</td>
            <td>Apartamento</td>
            <td>Bloco</td>
        </thead>
        <tbody>
            <tr *ngFor="let spot of parkingSpots; let i = index">
                <td></td>
                <td>{{spot.parkingSpotNumber}}</td>
                <td>{{spot.licensePlateCar}}</td>
                <td>{{spot.brandCar}}</td>
                <td>{{spot.modelCar}}</td>
                <td>{{spot.colorCar}}</td>
                <td>{{spot.responsibleName}}</td>
                <td>{{spot.apartment}}</td>
                <td>{{spot.block}}</td>
            </tr>
        </tbody>
    </table>
</div>