* {
    margin: 0;
    padding: 0;
}

form {
    padding: 1.25rem;
}

.grid {
    &-1 {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    &-2 {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
}

table {
    padding: 1.25rem;
}

button {
    background-color: rgb(60, 132, 214);
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 30%;
    margin: 1.25rem 1.25rem 0 0;
    padding: .625rem;
    border: none;
    border-radius: 5px;
}

button:active {
    background-color: rgb(50, 111, 180);
    color: rgb(212, 211, 211);
    font-size: 16px;
    padding: .600rem;
}