* {
    margin: 0;
    padding: 0;
}

form {
    margin: 0 auto;
    padding: 1.25rem;
    label {
        background-color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        font-size: 14px;
        position: absolute;
        margin: -8px 0 0 12px;
        padding: 0 2px 0 4px;
    }
    input {
        display: block;
        width: 100%;
        padding: 9px 0 9px 9px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        border: 1px solid gray;
        border-radius: 5px;
    }
    input:focus {
        outline: 1px solid;
        outline-color: rgb(132, 132, 218);
    }
    .grid {
        &-1 {
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(3, 32%);
        }
        &-2 {
            display: grid;
            grid-template-columns: repeat(1, 100%);
        }
        &-3 {
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(4, 23%);
        }
        &-1, &-2, &-3 {
            margin-bottom: 10px;
        }
    }
}

table {
    padding: 1.25rem;
}

button#add {
    background-color: rgb(60, 132, 214);
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 30%;
    margin: 1.25rem 1.25rem 0 0;
    padding: .625rem;
    border-radius: 5px;
    border: 1px solid rgb(54, 120, 196);
    &:active {
        background-color: rgb(50, 111, 180);
        border: 1px solid rgb(44, 97, 158);
        color: rgb(212, 211, 211);
        font-size: 16px;
        padding: .600rem;
    }
}

button#add:disabled {
    background-color: rgb(177, 177, 177);
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 30%;
    margin: 1.25rem 1.25rem 0 0;
    padding: .625rem;
    border: 1px solid rgb(145, 143, 143);
    border-radius: 5px;
}