<mat-card class="content">
  <form [formGroup]="formParkingSpot" (ngSubmit)="onSubmit()">
    <div class="grid-1">
      <div>
        <label for="parkingSpotNumber">Vaga:</label>
        <input
          type="text"
          name="parkingSpotNumber"
          formControlName="parkingSpotNumber"
          autocomplete="off"
          style="text-transform: uppercase"
        />
        <div *ngIf="" class="alert">
          <p>Campo obrigatório</p>
        </div>
      </div>
      <div>
        <label for="apartment">Apartamento:</label>
        <input
          type="text"
          name="apartment"
          formControlName="apartment"
          autocomplete="off"
          readonly
        />
      </div>
      <div>
        <label for="block">Bloco:</label>
        <input
          type="text"
          name="block"
          formControlName="block"
          autocomplete="off"
          readonly
        />
      </div>
    </div>
    <div class="grid-2">
      <div>
        <label for="responsibleName">Nome do Responsável:</label>
        <input
          type="text"
          name="responsibleName"
          formControlName="responsibleName"
          autocomplete="off"
          style="text-transform: capitalize"
        />
      </div>
    </div>
    <div class="grid-3">
      <div>
        <label for="licensePlateCar">Placa:</label>
        <input
          type="text"
          name="licensePlateCar"
          formControlName="licensePlateCar"
          autocomplete="off"
          minlength="7"
          maxlength="7"
          style="text-transform: uppercase"
        />
      </div>
      <div>
        <label for="brandCar">Marca:</label>
        <input
          type="text"
          name="brandCar"
          formControlName="brandCar"
          autocomplete="off"
          style="text-transform: capitalize"
        />
      </div>
      <div>
        <label for="modelCar">Modelo:</label>
        <input
          type="text"
          name="modelCar"
          formControlName="modelCar"
          autocomplete="off"
          style="text-transform: capitalize"
        />
      </div>
    </div>
    <div class="button">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!formParkingSpot.valid"
      >
        {{ edit ? "Editar" : "Cadastrar" }}
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="formInit()"
        *ngIf="formParkingSpot.dirty || formParkingSpot.valid"
      >
        Limpar
      </button>
    </div>
  </form>
</mat-card>
