/* You can add global styles to this file, and also import other style files */
:root {
  --blue-sky: #3c84d6;
  --light-gray: #d3d3d3;
  --yellow-sun: #fcde5a;
}

@font-face {
  font-family: Anuphan;
  src: url(assets/fonts/Anuphan-VariableFont_wght.ttf);
}

* {
  font-family: Anuphan;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
