@import "../../../styles.scss";

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 70vw;
  margin: 0 auto;
  margin-top: 3.125rem;
  padding-bottom: 3.125rem;
  .card {
    padding: 1.875rem;
  }
}

hr {
  background-color: var(--gray);
  width: 70vw;
  margin: 0 auto;
  height: 0.0625rem;
  border: none;
}

.spot-content {
  position: relative;
  .search {
    margin: 1.125rem 0 1.125rem 0;
    input,
    select {
      @include inputStyle;
    }
    input:focus,
    select:focus {
      outline: none;
      border: 0.0625rem solid;
      border-color: var(--blue);
    }
    button {
      font-size: 0.875rem;
      height: 2.8125rem;
      padding: 0 4rem 0 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      border-radius: 0.3125rem;
      cursor: pointer;
      img {
        margin-right: 0.625rem;
      }
      &:active {
        background-color: rgb(230, 230, 230);
        transition: 0.2s;
      }
    }
  }
  .table {
    td#buttons {
      text-align: center;
      button {
        margin-left: 5px;
        border-radius: 10px;
      }
    }
  }
  .no-data-message {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
  }
  .spinner-loading {
    margin: 0 auto;
  }
}

:host h2 {
  margin-bottom: 0;
}

.selected {
  background-color: rgb(250, 250, 250);
}
