* {
  margin: 0;
  padding: 0;
}

@mixin inputStyle {
  height: 2.8125rem;
  margin-right: 0.625rem;
  padding: 0 0.5625rem 0 0.5625rem;
  font-size: 0.875rem;
  border: 0.0625rem solid var(--gray);
  border-radius: 0.3125rem;
}

.container {
  width: 70vw;
  margin: 0 auto;
  margin-top: 3.125rem;
  padding-bottom: 3.125rem;
  .card {
    padding: 1.875rem;
  }
}

form {
  label {
    background-color: white;
    color: #555555;
    font-weight: 600;
    font-size: 0.875rem;
    position: absolute;
    margin: -0.6rem 0 0 0.75rem;
    padding: 0 0.125rem 0 0.25rem;
  }
  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    @include inputStyle;
  }
  input:focus {
    outline: none;
    border: 0.0625rem solid var(--blue);
  }
  input.ng-invalid.ng-touched.ng-dirty {
    border-color: rgb(250, 171, 171);
  }
  .grid {
    &-1 {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(3, 33%);
      .item {
        &:nth-child(2), &:nth-child(3) {
          pointer-events: none;
        }
        &:nth-child(2) input:focus, &:nth-child(3) input:focus {
          border-color: rgb(168, 168, 168); 
          pointer-events: none;
        }
      }
    }
    &-2 {
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
    &-3 {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(3, 33%);
    }
    &-1,
    &-2,
    &-3 {
      margin-bottom: 1.875rem;
    }
  }
  div.button {
    display: flex;
    button {
      position: relative;
      font-size: 1rem;
      width: 16%;
      height: 2.5rem;
      margin-right: .625rem;
      padding: 0.625rem;
    }
  }
}

hr {
  background-color: var(--gray);
  width: 70vw;
  margin: 0 auto;
  height: 0.0625rem;
  border: none;
}

.spot-content {
  position: relative;
  .search {
    margin: 1.125rem 0 1.125rem 0;
    input,
    select {
      @include inputStyle;
    }
    input:focus,
    select:focus {
      outline: none;
      border: 0.0625rem solid;
      border-color: var(--blue);
    }
    button {
      font-size: .875rem;
      height: 2.8125rem;
      padding: 0 4rem 0 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      border-radius: 0.3125rem;
      cursor: pointer;
      img {
        margin-right: .625rem;
      }
      &:active {
        background-color: rgb(230, 230, 230);
        transition: 0.2s;
      }
    }
  }
  .table {
    td#buttons {
      text-align: center;
      button {
        margin-left: 5px;
        border-radius: 10px;
      }
    }
  }
  .no-data-message {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
  }
  .spinner-loading {
    margin: 0 auto;
  }
}

:host h2 {
  margin-bottom: 0;
}

.selected {
  background-color: rgb(250, 250, 250);
}