* {
  margin: 0;
  padding: 0;
}

@mixin inputStyle {
  height: 2.8125rem;
  margin-right: 0.625rem;
  padding: 0 0.5625rem 0 0.5625rem;
  font-size: 0.875rem;
  border: 0.0625rem solid var(--light-gray);
  border-radius: 0.3125rem;
}

//Trocar cor da linha da vaga selecionada
@mixin selected($name){
  
}

.container {
  width: 70vw;
  margin: 0 auto;
  margin-top: 3.125rem;
  padding: 1.25rem;
}

form {
  label {
    background-color: white;
    color: #555555;
    font-weight: 600;
    font-size: 0.875rem;
    position: absolute;
    margin: -0.6rem 0 0 0.75rem;
    padding: 0 0.125rem 0 0.25rem;
  }
  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    @include inputStyle;
  }
  input:focus {
    outline: none;
    border: 0.0625rem solid;
    border-color: var(--blue-sky);
  }
  .grid {
    &-1 {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(3, 33%);
    }
    &-2 {
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
    &-3 {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(3, 33%);
    }
    &-1,
    &-2,
    &-3 {
      margin-bottom: 1.875rem;
    }
  }
  div.button {
    display: flex;
    margin-bottom: 1.875rem;
    button {
      position: relative;
      background-color: var(--blue-sky);
      color: white;
      font-size: 1.125rem;
      width: 16%;
      margin-right: .625rem;
      padding: 0.625rem;
      border: none;
      border-radius: 0.3125rem;
      outline: none;
      cursor: pointer;
      &:active {
        background-color: #3676c0;
        transition: 0.2s;
      }
    }
    button#add:disabled {
      background-color: var(--light-gray);
      color: white;
      font-size: 1.125rem;
      width: 16%;
      padding: 0.625rem;
      border: none;
      border-radius: 0.3125rem;
    }
  }
}

hr {
  background-color: var(--light-gray);
  width: 70vw;
  margin: 0 auto;
  height: 0.0625rem;
  border: none;
}

.spot-content {
  width: 70vw;
  margin: 0 auto;
  position: relative;
  .search {
    margin: 1.125rem 0 1.125rem 0;
    input,
    select {
      @include inputStyle;
    }
    input:focus,
    select:focus {
      outline: none;
      border: 0.0625rem solid;
      border-color: var(--blue-sky);
    }
    button {
      font-size: .875rem;
      height: 2.8125rem;
      padding: 0 4rem 0 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      border-radius: 0.3125rem;
      cursor: pointer;
      img {
        margin-right: .625rem;
      }
      &:active {
        background-color: rgb(230, 230, 230);
        transition: 0.2s;
      }
    }
  }
  table {
    width: 70vw;
    border-spacing: 0;
    margin: 0 auto;
    thead {
      background-color: var(--blue-sky);
      color: white;
      font-weight: 600;
      tr {
        height: 2.5rem;
        text-align: center;
      }
    }
    tbody {
      tr {
        text-align: center;
        td {
          padding: .5rem 0 .5rem 0;
          border-bottom: .125rem solid var(--blue-sky);
          button {
            color: black;
            width: 40%;
            height: 1.875rem;
            margin-left: .3125rem;
            position: relative;
            border: none;
            border-radius: .25rem;
            &#update {
              background-color: var(--yellow-sun);
            }
            &#delete {
              background-color: rgb(230, 72, 72);
            }
            &:after {
              content: "";
              width: 100%;
              height: 1.875rem;
              border-radius: .25rem;
              position: absolute;
              top: 0;
              left: 0;
              transition: 0.2s;
            }
            &:active:after {
              background-color: rgba(0, 0, 0, 0.137);
              @include selected(selected);
            }
          }
        }
      }
    }
  }
  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .no-data-message {
    width: 100%;
    text-align: center;
    margin-top: 3.125rem;
  }
}
