<div class="container">
  <app-forms
    [edit]="edit"
    (formsValue)="onSubmit($event)"
  ></app-forms>
  <div class="content">
    <hr />
    <div class="spot-content">
      <div class="search">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Procurar"
          autocomplete="off"
        />
        <select name="filter" id="filter">
          <option value="empty">Vagas Vazias</option>
          <option value="occupied">Vagas Ocupadas</option>
        </select>
        <select name="block" id="block">
          <option value="blockA">Bloco A</option>
          <option value="blockB">Bloco B</option>
        </select>
        <select name="order" id="order">
          <option value="asc">Ordem Crescente</option>
          <option value="desc">Ordem Decrescente</option>
        </select>
        <button>
          <img src="assets/icons/search.svg" alt="search-icon" />Procurar
        </button>
      </div>
      <div class="table" *ngIf="parkingSpots.data.length; else loading">
        <mat-card>
          <table mat-table [dataSource]="parkingSpots.data">
            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="RESPONSÁVEL">
              <th mat-header-cell *matHeaderCellDef>Responsável</th>
              <td mat-cell *matCellDef="let element">
                {{ element.responsibleName | titlecase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="VAGA">
              <th mat-header-cell *matHeaderCellDef>Vaga</th>
              <td mat-cell *matCellDef="let element">
                {{ element.parkingSpotNumber | uppercase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="APARTAMENTO">
              <th mat-header-cell *matHeaderCellDef>Apartamento</th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                {{ element.apartment }}
              </td>
            </ng-container>

            <ng-container matColumnDef="BLOCO">
              <th mat-header-cell *matHeaderCellDef>Bloco</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.block }}</td>
            </ng-container>

            <ng-container matColumnDef="PLACA">
              <th mat-header-cell *matHeaderCellDef>Placa</th>
              <td mat-cell *matCellDef="let element">
                {{ element.licensePlateCar | uppercase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="MARCA">
              <th mat-header-cell *matHeaderCellDef>Marca</th>
              <td mat-cell *matCellDef="let element">{{ element.brandCar | titlecase }}</td>
            </ng-container>

            <ng-container matColumnDef="MODELO">
              <th mat-header-cell *matHeaderCellDef>Modelo</th>
              <td mat-cell *matCellDef="let element">{{ element.modelCar | titlecase }}</td>
            </ng-container>

            <ng-container matColumnDef="AÇÕES">
              <th mat-header-cell *matHeaderCellDef style="text-align: center">
                Ações
              </th>
              <td
                mat-cell
                id="buttons"
                *matCellDef="let element; let i = index"
              >
                <button
                  mat-icon-button
                  color="primary"
                  (click)="updateParkingSpot(element, i)"
                  style="margin-left: 0.625rem"
                  title="Editar"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="deleteParkingSpot(element)"
                  title="Deletar"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </mat-card>
        <div class="no-data-message" *ngIf="parkingSpots.data.length == 0">
          <h2>No data found...</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <mat-spinner class="spinner-loading" diameter="40" mode="indeterminate">
  </mat-spinner>
</ng-template>
