<div class="container">
  <mat-card class="card">
    <form [formGroup]="formParkingSpot" (ngSubmit)="onSubmit()">
      <div class="grid-1">
        <div class="item-1">
          <label for="parkingSpotNumber">Vaga:</label>
          <input
            type="text"
            id="parkingSpotNumber"
            formControlName="parkingSpotNumber"
            autocomplete="off"
          />
        </div>
        <div class="item-2">
          <label for="apartment">Apartamento:</label>
          <input
            type="text"
            name="apartment"
            formControlName="apartment"
            autocomplete="off"
            readonly
          />
        </div>
        <div class="item-3">
          <label for="block">Bloco:</label>
          <input
            type="text"
            name="block"
            formControlName="block"
            autocomplete="off"
            readonly
          />
        </div>
      </div>
      <div class="grid-2">
        <div class="item-1">
          <label for="responsibleName">Nome do Responsável:</label>
          <input
            type="text"
            name="responsibleName"
            formControlName="responsibleName"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="grid-3">
        <div class="item-1">
          <label for="licensePlateCar">Placa:</label>
          <input
            type="text"
            name="licensePlateCar"
            formControlName="licensePlateCar"
            autocomplete="off"
            minlength="7"
            maxlength="7"
          />
        </div>
        <div class="item-2">
          <label for="brandCar">Marca:</label>
          <input
            type="text"
            name="brandCar"
            formControlName="brandCar"
            autocomplete="off"
          />
        </div>
        <div class="item-3">
          <label for="modelCar">Modelo:</label>
          <input
            type="text"
            name="modelCar"
            formControlName="modelCar"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="button">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!formParkingSpot.valid"
        >
          {{ edit ? "Editar" : "Cadastrar" }}
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="formInit()"
          *ngIf="formParkingSpot.dirty || formParkingSpot.valid"
        >
          Limpar
        </button>
      </div>
    </form>
  </mat-card>
  <div class="content">
    <hr />
    <div class="spot-content">
      <div class="search">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Procurar"
          autocomplete="off"
        />
        <select name="filter" id="filter">
          <option value="empty">Vagas Vazias</option>
          <option value="occupied">Vagas Ocupadas</option>
        </select>
        <select name="block" id="block">
          <option value="blockA">Bloco A</option>
          <option value="blockB">Bloco B</option>
        </select>
        <select name="order" id="order">
          <option value="asc">Ordem Crescente</option>
          <option value="desc">Ordem Decrescente</option>
        </select>
        <button>
          <img src="assets/icons/search.svg" alt="search-icon" />Procurar
        </button>
      </div>
      <div class="table" *ngIf="parkingSpots.length > 0; else loading">
        <mat-card>
          <table
            mat-table
            [dataSource]="parkingSpots">

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index;">
                {{ i+1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="RESPONSÁVEL">
              <th mat-header-cell *matHeaderCellDef>Responsável</th>
              <td mat-cell *matCellDef="let element">
                {{ element.responsibleName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="VAGA">
              <th mat-header-cell *matHeaderCellDef>Vaga</th>
              <td mat-cell *matCellDef="let element">
                {{ element.parkingSpotNumber }}
              </td>
            </ng-container>

            <ng-container matColumnDef="APARTAMENTO">
              <th mat-header-cell *matHeaderCellDef>Apartamento</th>
              <td mat-cell *matCellDef="let element">{{ element.apartment }}</td>
            </ng-container>

            <ng-container matColumnDef="BLOCO">
              <th mat-header-cell *matHeaderCellDef>Bloco</th>
              <td mat-cell *matCellDef="let element">{{ element.block }}</td>
            </ng-container>

            <ng-container matColumnDef="PLACA">
              <th mat-header-cell *matHeaderCellDef>Placa</th>
              <td mat-cell *matCellDef="let element">
                {{ element.licensePlateCar }}
              </td>
            </ng-container>

            <ng-container matColumnDef="MARCA">
              <th mat-header-cell *matHeaderCellDef>Marca</th>
              <td mat-cell *matCellDef="let element">{{ element.brandCar }}</td>
            </ng-container>

            <ng-container matColumnDef="MODELO">
              <th mat-header-cell *matHeaderCellDef>Modelo</th>
              <td mat-cell *matCellDef="let element">{{ element.modelCar }}</td>
            </ng-container>

            <ng-container matColumnDef="AÇÕES">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Ações</th>
              <td mat-cell id="buttons" *matCellDef="let element; let i = index">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="updateParkingSpot(element)"
                  style="margin-left: .625rem;"
                  title="Editar"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="deleteParkingSpot(element)"
                  title="Deletar"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div class="no-data-message" *ngIf="parkingSpots.length == 0">
            <h2>No data found...</h2>
          </div>
        </mat-card>
      </div>
      <ng-template #loading>
        <mat-spinner
          class="spinner-loading"
          diameter="40"
          mode="indeterminate">
        </mat-spinner>
      </ng-template>
    </div>
  </div>
</div>
